

.logupContainer {
   left:10;
 margin: 0 2.5%;
  margin-top: 50px;
  width:95%;
  position:absolute;
  font:normal x-small verdana,arial,helvetica,sans-serif;
  clear: both;
 height:550px;
 display:flex;
   justify-content: center;
}





.box {
    height:400px;
    width:400px;
    background-color:#F4F9FF;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 20px;
    padding-top:10px;
    margin: 0 auto;
    margin-top:5%;
    margin-right:10%;
    margin-left:10%;
   
}

.logTitle {
    text-align: center;
    color:#4270a2;
    font-weight: bold;
    font-size: 23px;
    font-family: Verdana,Geneva,sans-serif;
    margin-top:10%;
}


.box .form-control {
      border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin-left:10%;
    width: 80%;
    
}

.form-control:placeholder-shown {
     font-family: Verdana,Geneva,sans-serif;
     font-size:13px;
}



    
.logBtn {
    background: #25A6E1;
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	 font-family: Verdana,Geneva,sans-serif;
	font-size:13px;
    float:right;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9;
    position: relative;
    margin-top:5%;
    margin-right:10%;
    
    
}





.log {
    margin-left:60%;
    width:30%;
}
.reg {
    margin-left:60%;
    width:30%;
}



.myRules {
    width:100%;
    height:100%;   
}


.myRules p {
    font-size:20px;
}
.iframeContainer {
     left:10;
 margin: 0 2.5%;
  margin-top: 50px;
  background-color: white;
  width:95%;
  box-shadow: rgba(0,0,0,0.5) 0px 0px 20px;
  position:absolute;
  font:normal x-small verdana,arial,helvetica,sans-serif;
  clear: both;
 height:100vh
}


iframe {
    width: 95%;
    height:98vh;
    margin: 0 2.5%;
     

 
}

.bballContent {
    margin:50%;
    height:100vh;
}

.highlighted { background: yellow }
