
.logup {
 /*width: 100%;*/
   margin-left:75%;
    position: absolute;
    top: .1%;

display:inline-block;
height:30px;
}
.logup li {
   
    color:white;
    display:inline-block;
    
   
}
.logup a:visited {
    
    color:white;
}
.nav {
    list-style: none;
    font-size:14px;
    font-family: sans-serif;
    font-weight: bold;
    padding-right:35px;
    margin-bottom:80%;
}

.forumHeader {
    height: 80px;
    width:100%;
    /*border-bottom: #d4d4d4 3px solid;*/
    text-align: center;
    padding-top: 20px;
}
.forumHeader h1 {
   color: #999;
}



.filters{
    height: 40px;
    width: 100%;
    /*border-bottom: #d4d4d4 3px solid;*/
    text-decoration: none;
    color: #999;
    right:5%;
  
}

.filters li {
display: inline-block;
   
   /*padding-right: 2em;*/
    font-family: Verdana,Geneva,sans-serif;
    font-size:15px;
    margin-top: 9;
    font-weight: bold;
    height: 25px;
    text-decoration: none;
    color: #999;
}

.filters li a:hover {
  color: black;    ;
  text-decoration: underline overline;
}

.filters li a:visited {
  color: #999;    ;
  text-decoration: underline overline;
}


.filters .logup li {   
    position: relative;
    bottom: 35px;  
       left:60%; 
}

.filters a {
    width: 32.75%;
    height:95%;
    margin-top:-.5%;
    
}





/*MAIN CONTAINER*/

.mainContainer {
  /*box-sizing: border-box;*/
  margin: 0 2.5%;
  margin-top: 50px;
  background-color: white;
  width:65%;
  box-shadow: rgba(0,0,0,0.5) 0px 0px 20px;
  position:absolute;
  font:normal x-small verdana,arial,helvetica,sans-serif;
  min-height:1735px;
 height:auto;
 margin-left:2%;

}


.forum {
    width: 99.5%;
    background-color: white;
    border-bottom: #d4d4d4 3px solid;
    border-right: #d4d4d4 3px solid;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 20px;
    text-align: center;
    position:relative;
    display: block;
    display:flex;
    word-wrap: break-word; 
    overflow:hidden;      
}


.sideBar {
    width:30%;
    height:50vh;
    position:fixed;
    margin-left:68%;
    margin-top:50px;
    
}


.forum .commentLink:hover {
    
    color: #e6e6e6;
    text-decoration: none;
}







.bothUpvotes {
    display: flex;
    flex-direction: column;
    margin-left: 50;
    margin-top: 20;
}


.upArrow {
    height: 4em;
    width: 4em;
   position: relative;  
}

.upArrow:after {}



.upvoteNumbers { 
    
    font-size: 15px;
   
    font-family:courier;
    color: #d4d4d4;  
    
}


.bottomStuff {
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    left:130;
    width:80%;
    
    
   
     
    /*bottom: 40;
   
   
    width:100%;*/
}

.forum .commentLink {
   text-decoration: none;
   color: #444444;
    font-family:Verdana,Geneva,sans-serif;
    font-size: 12px;
    display:flex;
    margin-top:-5;
   
   
    
    
   
}
.forum .titleLink {
    font-family:Verdana,Geneva,sans-serif;
    font-size: 16px;
    display:flex;
    margin-bottom:1.5%;
     flex-wrap: wrap;
    word-wrap: break-word;
    margin-top:9;
    text-decoration: none;
    color:blue;
    
}


.forum .justTitle {
    font-family:Verdana,Geneva,sans-serif;
    font-size: 16px;
    display:flex;
    margin-bottom:1.5%;
     flex-wrap: wrap;
    word-wrap: break-word;
    margin-top:9;
    text-decoration: none;
    color: black;
    
}



.titleLink:hover {
   color: blue;
    cursor: auto;
    text-decoration: underline;
    
}
.titleLink a:visited {
   color: purple;
    
}


.middleLine {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    width:100%;
    margin-bottom:1.5%;
    
  
}


.forum .authorLink {
    font-family:Verdana,Geneva,sans-serif;
    font-size: 10px;
    display:flex;
    color:#719699;
    
  
}



.submit {
    position: absolute;
    background-color:#F7F7F5;
    width: 100%;
    word-wrap: normal;
   text-align: center;
   height:400px;
    
}

.submit .form-control {
   border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 auto;
    width: 100%;
}


.submit .submitForm {
   
    margin: 0 5%;
}

.submit .submitForm h1 {
   color:#444;  
     font-family: Verdana,Geneva,sans-serif;
}


.submitBtn {
    	background: #25A6E1;
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	 font-family: Verdana,Geneva,sans-serif;
	font-size:13px;
    float:right;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9;
    position: relative;
    margin-top:2%;
}

.submit .submitForm .bottomAdd {
    font-size: 8px;
    display: inline-block;
   right:80;
    width:80%;
    margin-top:1%;
    position: absolute;
}


.submit h3 {
   font-family: Verdana,Geneva,sans-serif;
   margin-top:4%;
   padding-left:20px;
   
}


.mainsubmit {
    margin-top: 0%;
}

.daFilters{
    border:none;
    height:38px;
    color: #c7c7c7;
    font-weight: bold;
    font-size: 16px;
    width:33.09%;
    font-family: Verdana,Geneva,sans-serif;
     background:white;
    cursor: pointer;
}

.daFilters:hover{
color:black;
  background:#e6e6e6;

}

.daFilters:active {
 color:black; 
}

button:focus {  
    outline:none;
   color:black;
   box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;
   background-color:#C7C7C7;
    }

input[type="text"] {
    font-family: Verdana,Geneva,sans-serif; 
    font-size: 15px;
}


.sort{
    font-size:15px;
    font-family: Verdana,Geneva,sans-serif; width:20%;
    margin: 0 auto;
    margin-top:.2%;
} 
.sortBy {
    margin-left:2%;
    font-size:12px;
}



/*RULES*/


.rulesReview {
    position:absolute; 
    width: 100%;
    word-wrap: normal;
    text-align: center;
    color:#444;    
    vertical-align: center;
    height:400px;
    top:55%;
    text-align: center;
}

.rulez {
    font-family:Verdana,Verdana, Geneva, Tahoma, sans-serif;
    margin-top:6%; 
}


.rulezHolder {
    border-top: 8px solid #e6e6e6;
    border-bottom: 8px solid #e6e6e6;
    margin-top:10%;
    background-color:#F5F5F5;
    width:100%;
    text-align: center;
}



.ruleHead {
    width:100%;
    padding-top:20px;
    margin-top:1%;
}



.ruleBtn {
    background: #25A6E1;
    width:150px;
    
	padding:8px 13px;
	color:#fff;
	 font-family: Verdana,Geneva,sans-serif;
	font-size:15px;
	border-radius:4px;
	border:1px solid #1A87B9;
    position: relative;
    margin:0 auto;
    margin-right:10%;
    margin-bottom: 1%;  
   top: -30;
    
}

.nflBtn {
    margin-top: 8%;
    width:85%;
    height:50px;
    margin-left: 7%;
  
}

.paginate {
   
    display:flex;
    justify-content: space-between;
    text-decoration: none;
    margin-right:87%;
    list-style: none;  
    font-family: Verdana,Geneva,sans-serif;
    color:#444;
    font-size:12px;

    bottom:17
}
.paginate:active {
   color: white;
   font-family: Verdana,Geneva,sans-serif;
   
}

.paginate:visited {
  color:#444;;
   
   
}

.Article {
    display:flex;
     justify-content: space-end;
    height:400px;
    border-bottom: 8px solid #e6e6e6; 
    position: absolute;
    border-top:8px solid #e6e6e6;   
    width: 100%;
    word-wrap: normal;
    text-align: center;
    color:#444;    
    vertical-align: center;
     background-size: 325px 300px;
     background-repeat: no-repeat;
     background-position: 50% 0%;
}
.nbaPhoto {
     background-image: url("http://i.imgur.com/EsSOKMm.jpg") ; 
}
.nflPhoto {
     background-image: url("http://www.profootballweekly.com/articles/2016/01/17/c4efb750f43347caba7c130306240eeb/5dd050c6-e99c-47e6-9e55-35fff62b106c/image-pv_web.jpg") ; 
}

.nhlPhoto {
     background-image: url("https://i.ytimg.com/vi/4hSoH5cY6vg/maxresdefault.jpg") ; 
}
.mlbPhoto {
     background-image: url("http://s3-ec.buzzfed.com/static/2014-07/8/13/enhanced/webdr11/enhanced-9214-1404841545-1.png");
}





.nbaArticleText {
   
   position: relative;
   text-decoration: none;
   font-size:16px;
   margin: 0 10%;
   
}
.nbatext{
    color:white;
}

.articleBtn {
     background: #25A6E1;
    width:90%;
	padding:8px 13px;
	color:#fff;
	 font-family: Verdana,Geneva,sans-serif;
	font-size:15px;
	border-radius:4px;
	border:1px solid #1A87B9;
    position: absolute;
    margin:0 auto;
    height:49px;
    top:400;
    right:5;
    left:5;
  
  
}



@import url(http://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);








[class^="btn-"] {
  position: relative;
  display: inline-block;
  border:none;
 font-family: Verdana,Geneva,sans-serif;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  overflow: hidden;
  border: 1px solid currentColor;
}





.btn-9 {
  color: white;
  background-color:#6699ef;
  font-size: 1.5em;
  text-align: center;
  padding-top: 1.5%;
}
.btn-9:before, .btn-9:after,
.btn-9 span:before,
.btn-9 span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(21, 24, 32, 0.25);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.btn-9:after,
.btn-9 span:before {
  top: auto;
  bottom: 0;
  color:white;
}
.btn-9 span:before,
.btn-9 span:after {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.btn-9:hover {
  color: white;
}
.btn-9:hover:before, .btn-9:hover:after,
.btn-9:hover span:before,
.btn-9:hover span:after {
  height: 80px;
}
.btn-9:active {
  background: #232835;
  color:white;
}





/*-----------PAGINATION-----------*/

ul .ng-binding {
    margin-right:1%;
    padding:10px;
    color:#369;
}

ul .ng-binding:visited {
    margin-right:5%;
    padding:20px;
    color:#369;
}
ul .ng-binding:active {
    margin-right:5%;
    padding:20px;
    color:#369;
}



/*------USER POST DETAIL------*/


.middleLine a{
    bottom:0;
    color:pink;
}


.middleLine .time {
    bottom: 0;
   
}
