.logup {
 /*width: 100%;*/
     width:75%;
margin:  auto;
text-align: center;
position: relative;
color: black;
}

.forumHeader {
    height: 80px;
    width:100%;
    border-bottom: #d4d4d4 3px solid;
    text-align: center;
    padding-top: 20px;
}
.forumHeader h1 {
   color: #999;
}



.filters{
    height: 25px;
    width: 100%;
    border-bottom: #d4d4d4 3px solid;
    text-decoration: none;
    color: #999;
    right:5%;
    

}

.filters li {
display: inline-block;
   
   /*padding-right: 2em;*/
    font-family: Verdana,Geneva,sans-serif;
    font-size:15px;
    margin-top: 9;
    font-weight: bold;
    height: 25px;
    text-decoration: none;
    color: #999;
}

.filters li a:hover {
  color: black;    ;
  text-decoration: underline overline;
}

.filters li a:visited {
  color: #999;    ;
  text-decoration: underline overline;
}


.filters .logup li {
    
    position: relative;
    bottom: 35px;  
       left:60%; 


}






/*MAIN CONTAINER*/

.mainContainer {
  /*box-sizing: border-box;*/
 left:0;
 margin: 0 2.5%;
  margin-top: 50px;
  background-color: white;
  width:95%;
  box-shadow: rgba(0,0,0,0.5) 0px 0px 20px;
  position:absolute;
  font:normal x-small verdana,arial,helvetica,sans-serif;
  /*height:100vh*/
}


.forum {
    width: 65%;
    height:100px;
    background-color: white;
    border-bottom: #d4d4d4 3px solid;
    border-right: #d4d4d4 3px solid;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 20px;
    position: relative;
    text-align: center;
    display: flex;
    
    
   
    
}




.forum .commentLink:hover {
    
    color: #e6e6e6;
    text-decoration: none;
}







.bothUpvotes {
    display: flex;
    flex-direction: column;
    margin-left: 50;
    margin-top: 20;
}


.upArrow {
    height: 4em;
    width: 4em;
   position: relative; 
   
  
}



.upvoteNumbers { 
    
    font-size: 15px;
   
    font-family:courier;
    color: #d4d4d4;  
    
}


.bottomStuff {
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    left:130;
    width:80%;
    
    
   
     
    /*bottom: 40;
   
   
    width:100%;*/
}

.forum .commentLink {
   text-decoration: none;
   color: #444444;
    font-family:Verdana,Geneva,sans-serif;
    font-size: 12px;
    display:flex;
    margin-top:-5;
   
   
    
    
   
}
.forum .titleLink {
    font-family:Verdana,Geneva,sans-serif;
    font-size: 16px;
    display:flex;
    margin-bottom:1.5%;
     flex-wrap: wrap;
    word-wrap: break-word;
    margin-top:9;
    text-decoration: none;
    color:blue;
    
}


.titleLink:hover {
   color: blue;
    cursor: auto;
    text-decoration: underline;
    
}
.titleLink a:visited {
   color: purple;
    
}


.middleLine {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    width:100%;
    margin-bottom:1.5%;
    
  
}


.forum .authorLink {
    font-family:Verdana,Geneva,sans-serif;
    font-size: 10px;
    display:flex;
    color:#719699;
    
  
}



.submit {
  
    margin-left: 65.5%;
    position: absolute;
    height:260px;
    background-color:#F7F7F5;
    width: 34.5%;
    word-wrap: normal;
    
}

.submit .form-control {
   border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 auto;
    width: 100%;
}


.submit .submitForm {
   
    margin: 0 5%;
}

.submit .submitForm h3 {
   margin-left:33%;
    font-size: 15px;
     font-family: Verdana,Geneva,sans-serif;
}


.submitBtn {
    	background: #25A6E1;
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	 font-family: Verdana,Geneva,sans-serif;
	font-size:13px;
    float:right;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9;
    position: relative;
    margin-top:2%;
}

.submit .submitForm .bottomAdd {
    font-size: 8px;
    display: inline-block;
    margin-left:1%;
    width:80%;
    margin-top: 4%;
    position: absolute;
}


.addPost {
   font-family: Verdana,Geneva,sans-serif;  
   
}


input[type="text"] {
    font-family: Verdana,Geneva,sans-serif; 
    font-size: 15px;
}


.optionStyle select{
    font-size:15px;
    font-family: Verdana,Geneva,sans-serif;  
} 



@media screen and (max-width: 1020px) {
  .logup{

    margin-right:20%;
  }