body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #6699FF;
  width: 100vh;
  height: 100vh;
  box-shadow: rgba(0,0,0,0.5) 0px 0px 20px;
}




  header {
width: 200%;
margin: 0  5%;
color: white;
font-family: Verdana,Geneva,sans-serif;
font-size:20px;
height:50px;


}

/*HEADER*/

.home {
    margin-left:28%;
    margin-right:5%;
    padding-right:10px;
    position: absolute;
    top: 7%;
}

.nba {
      margin-left:33%;
    margin-right:5%;
    position: absolute;
    top: 7%;
}

.nfl {
     margin-left:38%;
    margin-right:5%;
    position: absolute;
    top: 7%;
    width: 120px;
    height: 120px;
}

.nhl {
     margin-left:50%;
    margin-right:5%;
    position: absolute;
    top: 7%;
    width: 120px;
    height: 120px;
}


.mlb{
     margin-left:55%;
    margin-right:5%;
    position: absolute;
    top: 7%;
}

.new{
     margin-left:60%;
    margin-right:5%;
    position: absolute;
    top: 7%;
}



.logo {
background: url('http://www.tamuc.edu/facultyStaffServices/marketingCommunications/standards/logos/documents/2013-Lion-Head.png');
background-size: 120px 120px;
width: 120px;
height: 120px;
position: absolute;
margin-left:42.3%;
margin-right:7%;
top: 2%;
}




/*
@media screen and (max-width: 1020px) {
  header, body, {
    float: none;
    width: 100%;
  }
}*/