body {
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #6699FF;
  width:100vh;    
  height: 100vh;
}




  header {
width: 100vh;
font-family: Verdana,Geneva,sans-serif;
font-size:20px;
height:100px;
background-color: #6699ff;


}

/*HEADER*/
.topActive {
    background-color:white;
}
.home {
    margin-left:16%;
    margin-right:5%;
    padding-right:10px;
    position: absolute;
    top:70;
}
.getClass:visited {
  background-color: white;
}


.nba {
      margin-left:26%;
    margin-right:5%;
    position: absolute;
     top:70;
}

.nba:visited {
    color:pink;
}


.nfl {
     margin-left:35%;
    margin-right:5%;
    position: absolute;
    top:70;
    width: 120px;
    height: 120px;
}

.nhl {
     margin-left:61%;
    margin-right:5%;
    position: absolute;
     top:70;
    width: 120px;
    height: 120px;
}


.mlb{
     margin-left:69%;
    margin-right:5%;
    position: absolute;
     top:70;
}

.new{
     margin-left:77%;
    margin-right:5%;
    position: absolute;
     top:70;
}



.logo {

width: 120px;
height: 120px;
position: absolute;
margin-left:45%;
margin-right:7%;
 top:30;
}

.top {
    text-decoration: none;
    color:white;
}
.top:hover {
    
    text-decoration: underline;
}


.top:visited {
    color:white;
    text-decoration: none;
}


/*
@media screen and (max-width: 1020px) {
  header, body, {
    float: none;
    width: 100%;
  }
}*/