


<div class = 'mainContainer'>
            <div class = "forumHeader">
                <h1> HOME</h1>
            </div>


    
    <!--<nav class = "topFilters"> 
        
     <label class='sortBy'> Sort By: </label>   
     <select class ='sort' ng-options = 'filter.name for filter in myFilters' ng-model='filterByDis'>
      
     </select>
     
         
      </ul> 
      </nav>-->


<!--FILTERS-->
  <!--<div class = 'filters'>


         <button class="daFilters" ng-click="order('-upvotes')">Upvotes</button>

    
         <button class="daFilters" ng-click="order('-comments.length')"> Most Comments</button>
        
         <button class="daFilters" ng-click="order('-time')">Recently Posted</button>

  </div>
  -->
<div class="filters">

    <a class="btn-9" ng-click="order('-upvotes')"><span>UPVOTES</span></a>
     <a class="btn-9" ng-click="order('-comments.length')"><span>COMMENTS</span></a>
      <a class="btn-9" ng-click="order('-time')"><span>RECENT</span></a>

</div>
 
                <!--THIS IS THE SUBMIT FORM -->
                
 
                <!--THIS IS THE RAW DATA I"M DEALING WITH"-->
<div class ="forum" ng-repeat="post in posts |  myFilter: (currentPage - 1) * pageSize | limitTo: pageSize | orderBy :predicate">
    
    <div class = "bothUpvotes">
            <span class ="upvoteNubers"
             ng-click="incrementUpvotes(post, $index)">
                 <img class = "upArrow" src='./images/up-arrow36.png'>
             </span>
             
         
            <h1 class ="upvoteNumbers"> {{post.upvotes}} </h1>
    </div>
         

         
 <div class ='bottomStuff'>
              <a class="titleLink" ng-show="post.link" href="{{post.link}}">
              {{post.title}}
             </a>
             
             <span class="justTitle" ng-hide="post.link">
             {{post.title}}
             </span>
           
           
     <div class ='middleLine'>
               <span class="time"> 
               submitted: {{post.time | date:'MM/dd h:mma'}}
                | by: {{post.author}}
              

                <!--<span class="authorLink"> by: {{post.author}} </span>-->
               </span>  

             
     </div>
           
            <a class = "commentLink" href="#/posts/{{post._id}}">{{post.comments.length}}     comments</a>    
</div>



            
    
      </div>
       

  <uib-pagination class="paginate"
  total-items="posts.length" 
  ng-model="currentPage" 
  items-per-page ="pageSize">
   </uib-pagination>
      
    </div>  
    

   
  
   <div class="sideBar">
     
 <div class= 'submit'>
      <form class='submitForm' ng-submit="addPost()">
        <h1 class ="rulez ">Create Post</h1>
        

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="title" maxlength="400"></input>
        </div>
        <br/>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Link"
          ng-model="link"></input>
          <button type="submit" class="submitBtn">Post</button>
        </div>
        
        <br/>
        <div ng-hide="isLoggedIn()">
            <h3 class='bottomAdd'>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
            </div>

         
      </form>
    
      </div>

  
  <!--ARTICLE-->
  <!--<div class ='Article nbaPhoto'> 
      <p class = "nbaArticleText"> Adam Silver is seriously condsidering making a change to the "Hack-a-Shaq" rule in the offseason, as more and more teams employ the strategy. </p> 
       <a class = "nbatext" href="http://www.usatoday.com/story/sports/nba/2016/02/04/hack-a-shaq-adam-silver-deandre-jordan-andre-drummond-dwight-howard/79838018/"> <button class='articleBtn'>View Article </button></a> 
      </div> -->
  
  
  </div>
    
    
    