
  <div class="page-header" ng-control='PostsCtrl'>
      
    <h3 class="page-header">
         
  
    <!--POST LINK-->
        <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
    </h3>
  </div>
  
   <!--ADD COMMENT FORM-->
   
   <div class="submit subcomment">
    <form class='submitForm' ng-submit="addComment()">
    <h3 class = 'addPost'>Add a new comment</h3>
    <br> </br>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Comment"
      ng-model="body"></input>
    </div>
    <button class="commentBtn"  type="submit">Post</button>
  </form>
  </div>     



  <div class='forum' ng-repeat="comment in post.comments track by $index | orderBy:'-upvotes'">
         
<div class = "bothUpvotes">
     <span class ="upvoteNubers"
      ng-click="incrementUpvotes(comment, post, $index)">
        <img class = "upArrow" src='./images/up-arrow36.png'>
      </span>
      
       <h1 class ="upvoteNumbers">  {{comment.upvotes}} </h1> 
 </div>
      
  <div class ="bottomStuff">    
       <span class='titleLink'>
                    {{comment.body}}
                    </span>
                                     
   <a class="authorLink comment"> by- {{comment.author}}</a> 
                   
                    
  </div>    
    
    
    
    
  </div>
  
       
 

