
  <div class="page-header" ng-control='PostsCtrl'>
    <h3 class="page-header">
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
    </h3>
  </div>

  <div class='commentForm' ng-repeat="comment in post.comments track by $index | orderBy:'-upvotes'">
      
       <a class="commentAuthor"> by- {{comment.author}}</a> 
       
     <span
      ng-click="incrementUpvotes(comment, post, $index)">
      
        <img class = "upArrow" src='./images/up-arrow36.png'>
        
      </span>
       <h1 class ="commentUpvote">  {{comment.upvotes}} </h1> 
      
      
      
  
    <span class='commentBody'>
      {{comment.body}}
    </span>
  </div>
  
       
  
  
    <form class='addComment' ng-submit="addComment()">
    <h3>Add a new comment</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Comment"
      ng-model="body"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>

